<center><a href="https://www.nvidia.com/dli"> <img src="Pelatihan-DLI.jpeg" alt="Header" style="width: 1000px;"/> </a></center>

# Pelatihan Pemrograman Python Lanjut

Notebook ini merupakan bagian dari pelatihan **Dasar Pemrograman Python** untuk peserta TNI.

---
## ðŸŽ¯ Tujuan Pembelajaran
- Tipe Data Lanjut
- Fungsi dan Prosedur Pada Bahasa Python
- Class Pada Python
- Koneksi Database: Mysql, Redis

---
ðŸ’» **Gunakan perintah `Shift + Enter` untuk menjalankan setiap cell di bawah ini.**

## Tipe Data Lanjut
Pada Bagian ini akan dijelaskan tipe data lanjutan yang ada di Python. Tipe data yang dibahas adalah tipe data List, Tuple, dan Dictonary. Bagian ini juga membahas tentang Variabel casting atau mengubah tipe data yang ada.

### Tipe data List dan Tuple
Tipe data yang berisi sebuah List/Daftar

In [ ]:
buah = ["mangga", "pisang", "jambu", "jeruk"]
mobil = ["toyota", "BMW", "Honda", "Mazda"]

tup_buah = ("mangga", "pisang", "jambu", "jeruk")
tup_mobil = ("toyota", "BMW", "Honda", "Mazda")

In [ ]:
print(buah)
print(mobil)

print(tup_buah)
print(tup_mobil)

Setiap List dan Tupple memiliki index untuk menandai setiap value yang ada didalamnya

![index pada list](./python-list-index.png)

Setiap value dapat diakses menggunakan index yang dimiliki baik index postif maupun negatif

#### Akses Value dari list dan Tupple Berdasarkan Index

In [ ]:
# akses index ke 4 dari list/Tupple
print(buah[3])
print(mobil[3])

print(tup_buah[3])
print(mobil[3])

#### Mengubah Value dari List dan Tupple

In [ ]:
print(buah)
print(mobil)

In [ ]:
buah[3] = "Apel"
mobil[3] = "Hyundai"

In [ ]:
print(buah)
print(mobil)

In [ ]:
print(tup_buah)
print(tup_mobil)

In [ ]:
tup_buah[3] = "Apel"
tup_mobil[3] = "Hyundai"

### Tipe Data Dictonary
Dictionary adalah koleksi data yang menyimpan pasangan kunci-nilai (key-value) yang tidak berurutan (unordered) dan dapat berubah (mutable)

In [ ]:
profil = {"nama": "Koko Bachrudin", "Alamat": "Depok", "no_hp": "08123345678"}
print(profil)

#### Akses Value dari Dictoanry
Untuk mengakses value dari dictonary diperlukan key dari dictonary tersebut
![Python Dictonary](pythondict.png)

In [ ]:
print(profil["nama"])
print(profil["no_hp"])

#### Mengubah Nilai dari dictonary

In [ ]:
# mengubah nilai dari suatu key
profil["nama"] = "Koko Budiman"
print(profil)

In [ ]:
# Menambahkan Key-Value pair baru
profil["jenis Kelamin"] = "Laki-Laki"
print(profil)

### Gabungan Tipe Data
Adanya List, tuple dan Dictonary bisa dilakukan penggabungan antar satu dengan lain-nya.

In [ ]:
all_profil = [{"nama": "Koko Bachrudin", "Alamat": "Depok", "no_hp": "08123345678"},
             {"nama": "Adi Sudarsono", "Alamat": "Bogor", "no_hp": "081233478678"}]
print(all_profil)

In [ ]:
all_profil_2 = [{"nama": "Koko Bachrudin", "Alamat": ["Depok", "jakarta"], "no_hp": "08123345678"},
             {"nama": "Adi Sudarsono", "Alamat": ["Bogor","Surabaya"], "no_hp": "081233478678"}]
print(all_profil_2)

## Fungsi dan Prosedur

Fungsi dan prosedur di Python merupakan blok kode yang dirancang untuk menjalankan tugas tertentu secara terstruktur dan efisien. Fungsi (function) digunakan untuk mengelompokkan serangkaian perintah agar dapat dipanggil kembali tanpa menulis ulang kode yang sama, sehingga meningkatkan modularitas dan keterbacaan program.

### Fungsi
Fungsi (function) digunakan untuk mengelompokkan serangkaian perintah agar dapat dipanggil kembali tanpa menulis ulang kode yang sama, sehingga meningkatkan modularitas dan keterbacaan program. Fungsi didefinisikan dengan kata kunci def, dapat menerima parameter (input) dan mengembalikan nilai (output) menggunakan pernyataan return

### Prosedur
Sementara itu, prosedur pada dasarnya mirip dengan fungsi, namun biasanya tidak mengembalikan nilai; fungsinya lebih kepada menjalankan serangkaian instruksi atau tindakan tertentu, seperti menampilkan data atau mencetak hasil.

### Penggunaan Prosedur
Salah satu yang membedakan prosedur dan fungsi adalah tidak ada pengembalian nilai, atau ditandai dengan adanya syntax return

In [ ]:
def cetak_nama():
    print("nama")

cetak_nama()

In [ ]:
def cetak_nama(parameter):
    print("Nama Saya " + parameter)

cetak_nama("Koko Bachrudin")

In [ ]:
def cetak_nama(parameter):
    print("nama Saya " + parameter)

var = input("Masukkan nama:")
cetak_nama(var)

### Penggunaan Fungsi
Fungsi ditandai dengan pengembalian nilai atau terdapat perintah return

In [ ]:
def penjumlahan(a,b):
    return (a + b)

penjumlahan(100,20)

#### Tantangan 1
Buat inputan user untu potongan Program Berikut:

In [ ]:
def penjumlahan(a,b,c):
    jumlah = a + b + c

    return jumlah
var1 = 
var2 = 
var3 = 

penjumlahan(var1, var2, var3)

## Class Python
Class adalah template atau blueprint untuk membuat objek. Objek adalah representasi nyata dari sesuatu yang memiliki atribut (data) dan perilaku (fungsi/metode).

Contohnya, jika kita memiliki class Mobil, maka setiap mobil yang dibuat dari class tersebut (misalnya mobil1, mobil2) adalah objek dengan karakteristik dan fungsi masing-masing.

### Contoh Penggunaan Class

In [ ]:
# Definisi Class
class Mobil:
    def __init__(self, merk, warna):
        self.merk = merk      # atribut
        self.warna = warna    # atribut

    def info(self):           # metode
        print(f"Mobil {self.merk} berwarna {self.warna}")

In [ ]:
# Memanggil Fungsi
# Membuat objek dari class Mobil
mobil1 = Mobil("Toyota", "Merah")
mobil2 = Mobil("Honda", "Hitam")

# Memanggil metode
mobil1.info()
mobil2.info()

## Koneksi Database
Koneksi database di bahasa Python merupakan proses menghubungkan program Python dengan sistem manajemen basis data (DBMS) seperti MySQL, PostgreSQL, dan Redis agar dapat melakukan operasi seperti menyimpan, mengambil, memperbarui, dan menghapus data. Proses ini umumnya dilakukan menggunakan modul atau library khusus seperti: mysql.connector untuk MySQL, atau psycopg2 untuk PostgreSQL.

### Koneksi Menggunakan Database MySQL
#### Installasi Library/Fungsi untuk koneksi ke database MySQL

In [ ]:
!pip install mysql-connector-python

In [ ]:
import mysql.connector

# Membuat koneksi ke database MySQL
db = mysql.connector.connect(
    host="202.124.198.43",       # Nama host database (bisa juga IP)
    user="pelatihan_tni",            # Username MySQL
    password="margonda100", # Password MySQL
    database="pelatihan_akmil"   # Nama database yang ingin digunakan
)

In [ ]:
if db.is_connected():
    print("Berhasil terhubung ke database!")

#### Membuat Tabel di Database

In [ ]:
# Membuat cursor untuk menjalankan query
cursor = db.cursor()

In [ ]:
sql = """
CREATE TABLE mahasiswa (
    id INT AUTO_INCREMENT PRIMARY KEY,
    nama VARCHAR(100) NOT NULL,
    nim VARCHAR(20) NOT NULL UNIQUE,
    jurusan VARCHAR(50),
    angkatan YEAR
)
"""

In [ ]:
try:
    cursor.execute(sql)
    print("Tabel 'mahasiswa' berhasil dibuat!")
except mysql.connector.Error as err:
    print(f"Gagal membuat tabel: {err}")

#### Melihat isi Tabel

In [ ]:
sql = "select * from mahasiswa"

In [ ]:
cursor.execute(sql)
results = cursor.fetchall()

In [ ]:
for row in results:
    print(row)

#### Mengisi Tabel

In [ ]:
insert_sql = "insert into mahasiswa(nama,nim,jurusan,angkatan) value('Koko Bachrudin','11108121','Teknologi Informasi', 2025)"

In [ ]:
cursor.execute(insert_sql)

In [ ]:
# Memeriksa apakah Tabel sudah terisi
sql = "select * from mahasiswa"
cursor.execute(sql)
results = cursor.fetchall()
for row in results:
    print(row)

In [ ]:
# Menutup koneksi
cursor.close()
db.close()

### Koneksi Menggunakan Database Redis

In [6]:
import redis
r = redis.Redis(
        host="202.124.198.43",
        port=6379,
        db=1,
        decode_responses=True,
        socket_timeout=5,       # timeout koneksi
        socket_connect_timeout=5
    )

In [7]:
pong = r.ping()
print(f"Koneksi OK? {pong}")

Koneksi OK? True

#### Tipe Data Sederhana di Redis "SET"

In [8]:
# Memasukkan Nilai
r.set("app:version", "1.0.0")

True

In [9]:
# Mengambil Nilai
r.get("app:version")

'1.0.0'